.primary-header{
  background: var(--background-color);
}

.pages-header{
  background: transparent;
}

.logo{
  max-width: 200px;
}
.menu-header{
  width: 48%;
}

.menu-header .item-menu{
  font-size: 0.7rem;
}

.menu-header .item-menu::after{
  content: "";
  display: block;
  width: 0;
  top: 3.2rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.menu-header .item-menu:hover::after{
  width: 2.8rem;
}

.menu-header .item-menu:hover .menu-child{
  display: block;
}

.menu-header .item-menu span{
  color: #fff;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.menu-header .item-menu .menu-child{
  display: none;
  box-shadow: 0px 50px 100px 0px rgba(64, 1, 4, 0.1), 0px -6px 0px 0px rgba(248, 99, 107, 0.004);
  background-color: #fff;
  animation: showMenuChild 0.5s forwards;
}

.menu-header .item-menu .menu-child li{
  border-bottom: 1px solid #fff;
  color: #333;
  padding: 16px 10px;
  transition: all 0.2s ease-in-out;
}

.menu-header .item-menu .menu-child li:hover{
  color: #fff;
  background-color: #bd8c62;
}

.btn-header{
  font-size: 0.7rem;
}

.scrollDefault{
  position: absolute;
  width: 100%;
  z-index: 39;
}


.scroll{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation:showHeader 0.3s ease-in-out forwards ;
}

.scroll{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation:showHeader 0.3s ease-in-out forwards ;
}

.scroll-page{
  position: fixed;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  width: 100%;
  animation:showHeader 0.3s ease-in-out forwards ;
}

@keyframes showHeader {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes showMenuChild {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.title-pages{
  background-image: url(https://template-intern.l5elb4sxvvqkvl.flashvps.xyz/Earth/Beauly%20-%20Single%20Property%20HTML%20Template/Template/assets/img/bg-img/page-header-bg.jpg);
  background-position: center; /* Đặt hình nền vào giữa */
}