.interactive{
  height: 689px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(https://template-intern.l5elb4sxvvqkvl.flashvps.xyz/Earth/Beauly%20-%20Single%20Property%20HTML%20Template/Template/assets/img/bg-img/faq-bg.jpg);
   background-position: center; /* Đặt hình nền vào giữa */
  background-repeat: no-repeat; /* Không lặp lại hình nền */
  background-size: cover; /* Đảm bảo hình nền bao phủ toàn bộ khu vực */
  background-color: rgba(26, 26, 26, 0.9);
}

.left-interactive .list-interactive-left{
   background-color: #2b2c30;
   border-radius: 5px;
  }

.left-interactive .list-interactive-left li:not(:last-child){
  border-bottom: 1px solid #38393d;
}


.right-interactive .point{
  width: 40px;
  height: 40px;
   background-color:#fff ;
   border-radius: 50%;
   font-size: 0.8rem;
}

.location-one{
  top: 15px;
  left: 30rem;
}

.location-two{
  top: 0px;
  left: 5rem;
}

.location-three{
  top: 12rem;
  left: 25rem;
}

.location-four{
  top: 7rem;
  left: 10rem;
}

.right-interactive .point.active{
  background-color: var(--primary-color);
}
.choose{
  background-color: var(--primary-color) !important;
  color: #fff;
}

.location-des{
  animation: showLocation 0.2s ease-in-out ;
}

@keyframes showLocation{
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}